html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(68, 65, 65);
}

.align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.row-flex-grid {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.carousel.slides {
    width: 100%;
    margin-left: 0%;    
}

.carousel.slides img {
    width: 100%;
    height: 400px;
}

.carousel-caption {
    color: black;
    font-style: normal;
}

.carousel-indicators {
    background-color: black;
}

.lead {
    color: azure;
}

.display-4 {
    color: azure;
}

.card img {
    height: 150px;
}

.card {
    width: 250px;
    height: 200 px;
    margin-left: 10px;
}


